<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
</head>
<body>
    <!-- The .background-image div can be removed if the background is set in the CSS file -->
    <div class="content">
        <header>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/ml/machine-learning.html">Machine Learning</a></li>
                    <li><a href="/reversing/reverse-engineering.html">Reverse Engineering Malware</a></li>
                    <li><a href="/vulns/vulnerability-research.html">Vulnerability Research</a></li>
                    <li><a href="/malware/malware-research.html">Malware Research</a></li>
                </ul>
            </nav>
        </header>
        <main>
            {{ content }}
        </main>
    </div>
</body>
</html>
