<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title | default: site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <!-- Prism CSS for syntax highlighting -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism-okaidia.min.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <!-- You can add a logo image or site title here -->
                <a href="/">{{ site.title | default: "Richards.AI Research" }}</a>
            </div>
            <nav>
                <ul class="nav-links">
                    <li><a href="/">Home</a></li>
                    <li><a href="/ml/machine-learning.html">Machine Learning</a></li>
                    <li><a href="/reversing/reverse-engineering.html">Reverse Engineering</a></li>
                    <li><a href="/vulns/vulnerability-research.html">Vulnerability Research</a></li>
                    <li><a href="/malware/malware-research.html">Malware Research</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main class="container">
        {{ content }}
    </main>
    <footer>
        <div class="container">
            <!-- Footer content -->
            <p>&copy; {{ site.time | date: "%Y" }} {{ site.title | default: "Your Site Name" }}. All rights reserved.</p>
        </div>
    </footer>
    <!-- Prism JS for syntax highlighting -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-python.min.js"></script>
</body>
</html>