---
layout: base
---
<link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/themes/prism.min.css" rel="stylesheet" />
<div class="research-section">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/prism.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            document.querySelectorAll('code').forEach((block) => {
                // Get existing classes, excluding 'language-py' or 'language-python'
                const existingClasses = block.className.split(' ')
                                         .filter(c => c.trim() !== '' && c.trim() !== 'language-py' && c.trim() !== 'language-python');
                // Set className to 'language-none', adding it to existing classes if necessary
                block.className = existingClasses.join(' ').trim() + (existingClasses.length > 0 ? ' ' : '') + 'language-python';
            });
            Prism.highlightAll(); // Apply Prism highlighting
        });

    </script>
    <h1>{{ page.title }}</h1>
    {{ content }}
</div>

